[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
gunicorn = "*"
Django = "*"
dj-database-url = "*"
django-configurations = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
raven = "*"
pytest = "*"

[dev-packages]
"Jinja2" = "*"
"Fabric3" = "*"
prospector = "*"
ipython = "*"

[requires]
python_version = "3.6"
